@using AtomicSeller.Helpers
@using AtomicSeller.Helpers.Navigation
@using AtomicSeller.Helpers.Razor
@using AtomicSeller.Helpers.Razor.HtmlExtensions
@using AtomicSeller.Resources

@{
    ViewBag.Title = Local.TranslatedMessage("MITFAFquickProcessToolStripMenuItem");
        ViewBag.ShowH2 = false;
    ViewBag.PageCol = HtmlConsts.Dimens.DefaultPageCol;
    ViewBag.PageColOffset = HtmlConsts.Dimens.DefaultPageColOffset;
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @using (Html.PanelWrap("AtomicSeller"))
        {
        <div class="panel-body">
            <p>Welcome</p>

            <!--
    <a href="Url.Action("GetNewOrders", "Home")"
       class="btn btn-primary"
       data-toggle="tooltip"
       title="GetNewOrders">
        <i class="mdi mdi-file-pdf-box"></i>GetNewOrders
    </a>

    <a href="Url.Action("GetProducts", "Home")"
       class="btn btn-primary"
       data-toggle="tooltip"
       title="GetProducts">
        <i class="mdi mdi-file-pdf-box"></i>GetProducts
    </a>
        -->

            <a href="@Url.Action("PutTrackingInfo", "Home")"
               class="btn btn-primary"
               data-toggle="tooltip"
               title="PutTrackingInfo">
                <i class="mdi mdi-file-pdf-box"></i>PutTrackingInfo
            </a>


            <a href="@Url.Action("GetOrder", "Home")"
               class="btn btn-primary"
               data-toggle="tooltip"
               title="GetOrder">
                <i class="mdi mdi-file-pdf-box"></i>GetOrder
            </a>

        </div>
        }
    </div>
</div>